title {
    text-align: center;
    font-size: 230%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 170px;
    margin-left: 170px;
}
h1{
    text-align: center;
    font-size: 200%;
    font-weight: 170;
}
h2{
    font-size: 130%;
    font-weight: 100;
    text-align: center;
}
h3{
    font-weight: 100;
    font-size: 100%;
}
p {
    text-decoration: none;
    font-size: 80%;
    color: midnightblue;
    text-align: center;
}
a {
    text-decoration: none;
    font-size: 100%;
    color: midnightblue;
    text-align: center;
}
h4{
    text-align: center;
    font-weight: 100;
}
